<div class="location-root">
  <div class="location-header">
    <span class="location-header-content">Location analizer</span>
  </div>
  <div class="location-content">
    <div class="location-data">
      <div class="user-data">
        <div>
          <label>Name:</label>
          <span>Bill Gates</span>
        </div>
        <div>
          <label>Hometown:</label>
          <span>Los Angeles</span>
        </div>
        <div>
          <label>Current town:</label>
          <span>Los Angeles</span>
        </div>
      </div>
    </div>
    <div class="map">
      <label class="map-label">User localization history:</label>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>