<div class="location-root">
  <div class="location-header">
    <span class="location-header-content">Location analizer</span>
  </div>
  <div class="location-content">
    <div class="location-data">
      <div class="user-data">
        <div>
          <label>Name:</label>
          <span>{{followedUser.personalData.firstName}} {{followedUser.personalData.lastName}}</span>
        </div>
        <div>
          <label>Hometown:</label>
          <span></span>
        </div>
        <div>
          <label>Current town:</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="map">
      <label class="map-label">User localization history:</label>
      <agm-map [latitude]="startLat" [longitude]="startLog">
        <agm-marker *ngFor="let loc of localizationArray" [latitude]="loc.latitude" [longitude]="loc.longitude"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>