.location-root { 
    padding: 1em;
}

agm-map {
    height: 350px;
    width: 100%;
}

.location-content {
    font-size: 1.4em;
}

.location-header { 
    padding-bottom: 1em;
}

.location-header-content {
    font-size: 2em;
    font-weight: bold;
}

.location-data {
    padding-bottom: 2em;
}

.map-label {
    padding-bottom: 0.5em;
}