<div class="side-navbar-root">
  <div class="logged-user-info">
    <img class="logged-icon-circle unknow-person" src="../../../assets/images/unknowPerson.jpg"/>
    <div class="user-greeting">Hello Przemek</div>
  </div>
  <div class="side-navbar-content">
    <div class="followed-user-header">
        <div>Followed Users</div>
    </div>
    <div class="followed-user-content">
      <div class="followed-user">
        <img class="person-icon-circle" src="../../../assets/images/unknowPerson.jpg"/>
        <span class="person-name">Bill Gates</span>
      </div>
      <div class="followed-user">
        <img class="person-icon-circle" src="../../../assets/images/unknowPerson.jpg"/>
        <span class="person-name">Jacek Nowak</span>
      </div>
      <div class="followed-user">
        <img class="person-icon-circle" src="../../../assets/images/unknowPerson.jpg"/>
        <span class="person-name">Lionel Messi</span>
      </div>
    </div>
  </div>
</div>