<div class="dashboard-root">
  <div class="data-row">
    <div class="user-data">
      <img class="user-icon-circle" src="../../../assets/images/unknowPerson.jpg"/>
      <div class="user-name">Bill Gates</div>
    </div>
    <div class="social-page">
      <button class="data-btn">Use Facebook</button>
      <button class="data-btn">Use Instagram</button>
      <button class="data-btn">Use Tweeter</button>
    </div>
  </div>
  <div class="data-row">
    <div class="personal-data analize-rect">
      <button class="data-btn btn-primary">Personal Data</button>
    </div>
    <div class="location-analizer analize-rect">
      <button class="data-btn data-btn btn-primary">Location Analizer</button>
    </div>
  </div>
  <div class="data-row">
    <div class="activity-analizer analize-rect">
      <button class="data-btn data-btn btn-primary">Internet Activity Analizer</button>
    </div>
    <div class="character-analizer analize-rect">
      <button class="data-btn data-btn btn-primary">Character Analizer</button>
    </div>
  </div>
</div>