<div class="personal-root">
  <div class="personal-header">
    <span class="personal-header-content">Personal Data</span>
  </div>
  <div class="personal-content">
    <div class="personal-data">
      <div>
        <label>Name: </label>
        <span>{{followedUserPersonalData.firstName}} {{followedUserPersonalData.lastName}}</span>
      </div>
      <div>
        <label>Gender: </label>
        <span></span>
      </div>
      <div>
        <label>Birthdate: </label>
        <span>{{followedUserPersonalData.birthDate}}</span>
      </div>
      <div>
        <label>Adress: </label>
        <span></span>
      </div>
      <div>
        <label>Email: </label>
        <span>{{followedUserPersonalData.email}}</span>
      </div>
    </div>
    <div class="photos">
      <label class="photos-header">Photos: </label>
      <div class="photos-content">
        <div class="photo-row">
          <div class="photo">
            <img src="../../../assets/images/unknowPerson.jpg"/>
          </div>
          <div class="photo">
            <img src="../../../assets/images/unknowPerson.jpg"/>
          </div>
          <div class="photo">
            <img src="../../../assets/images/unknowPerson.jpg"/>
          </div>
        </div>
        <div class="photo-row"> 
          <div class="photo">
            <img src="../../../assets/images/unknowPerson.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
