<div class="personal-root">
  <div class="personal-header">
    <span class="personal-header-content">Personal Data</span>
  </div>
  <div class="personal-content">
    <div class="personal-data">
      <div>
        <label>Name: </label>
        <span>Bill Gates</span>
      </div>
      <div>
        <label>Gender: </label>
        <span>Male</span>
      </div>
      <div>
        <label>Birthdate: </label>
        <span>18-12-1994</span>
      </div>
      <div>
        <label>Adress: </label>
        <span>OC Maryland</span>
      </div>
      <div>
        <label>Email: </label>
        <span>bill.gates@gmail.com</span>
      </div>
    </div>
    <div class="photos">
      <label class="photos-header">Photos: </label>
      <div class="photos-content">
        <div class="photo-row">
          <div class="photo">
            <img src="../../../assets/images/unknowPerson.jpg"/>
          </div>
          <div class="photo">
            <img src="../../../assets/images/unknowPerson.jpg"/>
          </div>
          <div class="photo">
            <img src="../../../assets/images/unknowPerson.jpg"/>
          </div>
        </div>
        <div class="photo-row"> 
          <div class="photo">
            <img src="../../../assets/images/unknowPerson.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
